body {
	line-height: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	padding-bottom: 0px;
	background-image: url('../images/bg-wood.jpg');
}

/**************/
/* Navigation */
/**************/

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	height: 150px;
	margin-top: 0px;
}

.navbar-wrapper {
	margin-top: 0px;
	background-color: #015b5b;
	background-repeat: no-repeat;
	background-image: url('../images/bg-header.jpg');
	position: relative;
}

.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent;
}

.navbar-inverse .navbar-collapse {
	border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle {
	border-color: #fff;
}

.divider-bottom {
	margin-bottom: 0px;
}

.navbar-toggle {
	border-color: transparent;
	background-color: #1f8f92;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #1f8f92;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: -10px;
}

@media (min-width: 1200px) {
	.navbar-main {
		margin-top: 50px;
	}
	.navbar-brand {
		margin-top: -50px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-main {
		margin-top: 90px;
	}
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	    color: #fff;
	} 
	.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
	    border-color: #72b4b1;
	}
	.navbar-wrapper {
		background-image: url('../images/bg-header-small.jpg');
	}
}

/**********/
/* Topbar */
/**********/

.toprow-mob {
	background-color: #085282;
	padding: 0px;
	border-radius: 0px;
	visibility: hidden;
	height: 53px;
}

.btn-top-mob {
	text-align: center;
	border-left: #fff 1px solid;
	padding-bottom: 5px;
}

.btn-top-mob-left {
	text-align: center;
	border-left: none;
}

.btn-top-mob>a {
	color: #fff;
	font-size: 12px;
}

.toprow {
	margin-right: 0px;
	margin-left: 0px;
	width: 740px;
	visibility: visible;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 50;
}

@media (max-width: 767px) {
	.toprow {
		visibility: hidden;
	}
	.toprow-mob {
		visibility: visible;
		height: 30px;
	}
}

@media (min-width: 1200px) { 
	.toprow {
		margin-right: 65px;
	}
}

.topbar {
	width: 635px;
	height: 53px;
	background-image: url('../images/bg-actions.jpg');
}

.col-no-padding {
	padding-right: 0px;
	padding-left: 0px;
}

.topbar>.col-sm-2 {
	padding-right: 15px;
	padding-left: 0px;
}

.btn-top {
	text-align: center;
	border-left: #fff 1px solid;
	padding-right: 33px;
	padding-left: 33px;
}

.topbar>.col-sm-10>.btn-group {
	padding-left: 0px;
	padding-right: 0px;
}

.btn-top-left {
	border-left: none;
}

.btn-top-right {
	border-left: none;
	height: 100%;
}

.btn-top>a {
	color: #fff;
	font-size: 15px;
	height: 100%;
	position: relative;
	top: 25%;
}

.social-bar {
	padding-left: 0px;
	width: 140px;
	margin-left: -5px;
}

.btn-social {
	padding: 5px;
}

/*****************/
/* Dropdown menu */
/*****************/

.dropdown-menu {
	background-color: #113a39;
	padding-top: 0px;
	padding-bottom: 0px;
}

.dropdown-header {
	color: #72b4b1;
}

.dropdown-divider {
	border-top: #72b4b1 2px solid;
}

.dropdown-menu>li>a {
	color: #fff;
}

.dropdown-menu > li > a:hover {
    background-color: #113a39;
    background-image: none;
    color: #fff;
}

.dropdown-menu-top {
	border-top: #72b4b1 5px solid;
}

.dropdown-menu>li {
	border-bottom: #114748 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
}

/************/
/* Carousel */
/************/

.carousel {
	margin-top: 0px;
	margin-bottom: 0px;
}

.carousel-indicators li { 
	visibility: hidden; 
}

.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel-caption {
	text-align: left;
	left: 60px;
	right: 50%;
	top: 60px;
	bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #1f8f92;
	text-shadow: none;
}

.carousel-caption > p {
	color: #000;
	font-size: 18px;
}

.carousel-inner > .item > img {
	object-position: 0 0;
	object-fit: cover;
}

@media (max-width: 768px) {
	.carousel-caption {
		right: 60px;
	}
}

/**********/
/* Footer */
/**********/

footer {
	background-image: url('../images/bg-footer.jpg');
	height: 460px;
	color: #fff;
	padding-top: 30px;
}

.footer-links {
	margin-top: 30px;
	margin-bottom: 20px;
}

/**************/
/* Home */
/**************/

.home-content {
	background-color: #f9f6ed;
	margin-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	margin-top: 0px;
}