body {
	line-height: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	padding-bottom: 0px;
	background-image: url('../images/bg-wood.jpg');
}

a:hover {
	text-decoration: none;
}

/**************/
/* Navigation */
/**************/

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	height: 150px;
	margin-top: 0px;
}

.navbar-wrapper {
	margin-top: 0px;
	background-color: #3e4047;
	position: relative;
}

.navbar-wrapper > .container-fluid {
	padding: 0px;
}

.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent;
}

.navbar-inverse .navbar-collapse {
	border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle {
	border-color: #fff;
}

.divider-bottom {
	margin-bottom: 0px;
}

.navbar-toggle {
	border-color: transparent;
	background-color: #d86327;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #d86327;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: -10px;
}

@media (min-width: 1200px) {
	.navbar-main {
		margin-top: 50px;
	}
	.navbar-brand {
		margin-top: -50px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-main {
		margin-top: 90px;
	}
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	} 
	.navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
		border-color: #72b4b1;
	}
}

/**********/
/* Topbar */
/**********/

.toprow-mob {
	background-color: #d86327;
	padding: 0px;
	border-radius: 0px;
	visibility: hidden;
	height: 53px;
}

.btn-top-mob {
	text-align: center;
	border-left: #fff 1px solid;
	padding-bottom: 5px;
}

.btn-top-mob-left {
	text-align: center;
	border-left: none;
}

.btn-top-mob>a {
	color: #fff;
	font-size: 12px;
}

.toprow {
	margin-right: 0px;
	margin-left: 0px;
	visibility: visible;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 50;
}

@media (max-width: 767px) {
	.toprow {
		visibility: hidden;
	}
	.toprow-mob {
		visibility: visible;
		height: 30px;
	}
}

@media (min-width: 1200px) { 
	.toprow {
		margin-right: 65px;
	}
}

.topbar {
	height: 53px;
	background-color: #d86327;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.col-no-padding {
	padding-right: 0px;
	padding-left: 0px;
}

.topbar>.col-sm-2 {
	padding-right: 15px;
	padding-left: 0px;
}

.btn-top {
	text-align: center;
	border-left: #fff 1px solid;
	padding-right: 33px;
	padding-left: 33px;
}

.topbar>.col-sm-10>.btn-group {
	padding-left: 0px;
	padding-right: 0px;
}

.btn-top-left {
	border-left: none;
}

.btn-top-right {
	border-left: none;
	height: 100%;
}

.btn-top>a {
	color: #fff;
	font-size: 15px;
	height: 100%;
	position: relative;
	top: 25%;
}

.social-bar {
	padding-left: 0px;
	width: 140px;
	margin-left: -5px;
}

.btn-social {
	padding: 5px;
}

/*****************/
/* Dropdown menu */
/*****************/

.dropdown-menu {
	background-color: #000;
	padding-top: 0px;
	padding-bottom: 0px;
}

.dropdown-header {
	color: #72b4b1;
}

.dropdown-divider {
	border-top: #d86327 2px solid;
}

.dropdown-menu>li>a {
	color: #fff;
}

.dropdown-menu > li > a:hover {
	background-color: #3e4047;
	background-image: none;
	color: #fff;
}

.dropdown-menu-top {
	border-top: #d86327 5px solid;
}

.dropdown-menu>li {
	border-bottom: #3e4047 1px solid;
	padding-top: 5px;
	padding-bottom: 5px;
}

/************/
/* Carousel */
/************/

.carousel {
	margin-top: 0px;
	margin-bottom: 0px;
}

.right.carousel-control, .left.carousel-control {
	display: none;
}


.carousel-indicators li {
	border-color: #3e4047;
	background-color: #3e4047;
	width: 12px;
	height: 12px;
	margin: 0;
}

.carousel-indicators .active {
	border-color: #d86327;
	background-color: #d86327;
}

.carousel-caption {
	text-align: left;
	left: 100px;
	right: 60%;
	top: 60px;
	bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #d86327;
	text-shadow: none;
}

.carousel-caption > p {
	color: #000;
	font-size: 18px;
}

.carousel-inner > .item > img {
	object-position: 0 0;
	object-fit: cover;
}

@media (max-width: 768px) {
	.carousel-caption {
		right: 60px;
	}
}

/**********/
/* Footer */
/**********/

footer > .container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.footer-content {
	background-color: #3e4047;
	padding: 30px;
	margin-left: 0px;
	margin-right: 0px;
	color: #fff;
}

.footer-copyright {
	background-color: #d86327;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 5px;
	color: #fff;
}

.footer-links {
	margin-top: 30px;
	margin-bottom: 20px;
}

.footer-header {
	color: #d86327;
	margin-bottom: 10px;
}

.footer-sublinks, .footer-sublinks:hover, .footer-sublinks:focus {
	color: #fff;
	text-decoration: none;
}

/********/
/* Home */
/********/

.home-content {
	background-color: #f9f6ed;
	margin-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	margin-left: 40px;
	margin-right: 40px;
}

@media (max-width: 768px) {
	.home-content {
		margin-left: 0px;
		margin-right: 0px;
	}
}

/*********/
/* About */
/*********/

.page-tab-title {
	color: #fff;
	padding-left: 30px;
	margin: 0px;
	height: 73px;
}

.page-tab-bg {
	position: absolute;
	z-index: -50;
}

.about-content {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
}

.child-main {
	padding-left: 0px;
	padding-right: 40px;
}

@media (max-width: 991px) {
	.child-main {
		padding-right: 0px;
	}
}

@media (max-width: 768px) {
	.page-tab-title {
		background-color: #d86327;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.page-tab-bg {
		visibility: hidden;
	}
}

.child-content {
	margin-left: 0px;
	margin-right: 0px;
	background-color: #f9f6ed;
	padding: 40px;
}

.flex-image {
	width: 100%;
	background: #fff;
	border: 4px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
	margin-bottom: 30px;
}

.get-directions {
	background-color: #fff;
	padding: 30px;
}

.btn-req, .btn-req:hover, .btn-req:focus {
	font-size: 18px;
	display: block;
    padding: 5px;
    margin-bottom: 30px;
    width: 100% !important;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	background: #d86327;
	border: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
}

.btn-directions, .btn-directions:hover, .btn-directions:focus {
	background: #d86327;
	padding: 5px;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	width: 100%;
	display: block;
	margin-bottom: 30px;
}

.bd-callout-quote {
	background:url('../images/quotes.png') 18px top no-repeat;
	background-size:24px;
	border-right:0;
	border-bottom:0;
	order-top:0;
	padding-left:55px;
	margin-left:20px;
	margin-top:9px;
	position:relative;
	border-left: 3px solid #d86327;
}