body {
	line-height: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	padding-bottom: 0px;
	background-image: url('../images/bg-wood.jpg');
}

/**************/
/* Navigation */
/**************/

.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	height: 150px;
}

.navbar-wrapper {
	margin-top: 0px;
	background-color: #015b5b;
	background-repeat: no-repeat;
	background-image: url('../images/bg-header.jpg');
}

.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: transparent;
}

.navbar-inverse .navbar-collapse {
	border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle {
	border-color: #fff;
}

.divider-bottom {
	margin-bottom: 0px;
}

.navbar-toggle {
	border-color: transparent;
	background-color: #1f8f92;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #1f8f92;
}

@media (min-width: 992px) {
	.navbar-right {
		margin-top:95px;
	}
}

/************/
/* Carousel */
/************/

.carousel {
	margin-top: 150px;
	margin-bottom: 0px;
}

.carousel-indicators li { 
	visibility: hidden; 
}

.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel-caption {
	text-align: left;
	left: 60px;
	right: 55%;
	top: 60px;
	bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #1f8f92;
	text-shadow: none;
}

.carousel-caption > p {
	color: #000;
}

.carousel-inner > .item > img {
	object-fit: cover;
}

/**********/
/* Footer */
/**********/

footer {
	background-image: url('../images/bg-footer.jpg');
	height: 460px;
}

/********/
/* Home */
/********/

.home-content {
	background-color: #f9f6ed;
	margin-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: -30px;
}

.col-content {
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

.marketing .col-lg-4 {
	margin-bottom: 0px;
	text-align: left;
}

.img-circle {
		margin-left: 15px;
	}

@media (min-width: 1200px) {
	.marketing .col-lg-4 {
	    text-align: center;
	}
	.img-circle {
		margin-left: 0px;
	}
}

.marketing .col-lg-4 h2 {
    color: #077074;
}

.marketing .col-lg-4 p {
    margin-right: 0px;
    margin-left: 0px;
}

.bucket-img {
	margin-top: -110px;
	height:80px;
	background: #0c787c;
	background: -moz-linear-gradient(top,  #0c787c 0%, #006162 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c787c), color-stop(100%,#006162));
	background: -webkit-linear-gradient(top,  #0c787c 0%,#006162 100%);
	background: -o-linear-gradient(top,  #0c787c 0%,#006162 100%);
	background: -ms-linear-gradient(top,  #0c787c 0%,#006162 100%);
	background: linear-gradient(to bottom,  #0c787c 0%,#006162 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c787c', endColorstr='#006162',GradientType=0 );
}